<script>
  $(document).ready(function()
  {
    
    $("#addcomment").click(function(e)
    {
      e.preventDefault();
      $("#frm_add_comment").fadeIn();
    })
    
    })
  
  
</script>

<!--<% if user_signed_in? %>
 <p style="float: right">
  <%= "#{current_user.email}" %>
  <%= link_to "Sign out",destroy_user_session_path, method: :delete %> 
  </p>
<% end %>-->
<p id="notice"><%= notice %></p>

<% if(flash[:error]) %>
<p id="error_explanation""><strong><%= flash[:error] %></strong></p>
<% end %>      
      
<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @message.description %>
</p>

<% if @message.comments.any? %>
	<h4> Listing Comments </h4>
	<% i = 1 %>
	
	<table border="1px solid black">
          <tr>
            <td>Sr.No</td>
            <td>Comments</td>
            <td>Created_at</td>
            <td></td>
            <td></td>
            <td>Posted_by</td>
            </tr>
	<% @message.comments.each do |message_comment| %>
		<tr>
		  <td><%= i %></td>
		  <td><%= message_comment.content %></td>
		  <td><%= message_comment.created_at %></td>
		  <td><%= link_to "Edit", [:edit, message_comment.commentable, message_comment] %></td>    
		  <td><%= link_to "Destroy",[@message,message_comment],method: :delete, data: { confirm: 'Are you sure?' }	 %></td>
		  <td>
                     <%= message_comment.user.email %> </td>
                </tr>
		<% i = i + 1 %>
	<% end %>
	</table>
<% else %>
	No Comments for this message "<em><%= @message.title %></em>"
<% end %>


<br><a id="addcomment" href="">Add Comments</a>
  <a id="removecomment" href="">Remove Comments</a>




<div id="frm_add_comment" style="display: none"> 
<%= form_for [@message, Comment.new] do |form| %>
  <div class="formList">
    <% form.label :content %>
    <%= form.text_area :content, :rows => 2 ,:placeholder => "Add Comment"%>
    <%= submit_tag "Add Comment" %>
  </div>
  
<% end %>

</div>




<br /><br />

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
